@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
}

/* Or more specifically on body */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';