@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
}

/* Or more specifically on body */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';